In [1]:
import sqlite3
con=sqlite3.connect("amrit.db")
print("Database is connected")

Database is connected

In [7]:
import sqlite3
con=sqlite3.connect("amrit.db")
cur=con.cursor()
cur.execute("Create Table xProduct(p_id Integer PRIMARY KEY AUTOINCREMENT, p_name TEXT NOT NULL, price REAL, quantity INTEGER)");
print("Table is Created")
con.close()

Table is Created

In [8]:
import sqlite3
con=sqlite3.connect("amrit.db")
cur=con.cursor()
cur.execute("INSERT INTO xProduct(p_name,price,quantity)VALUES('AutoCAD',200,20)");
cur.execute("INSERT INTO xProduct(p_name,price,quantity)VALUES('Quick Hills',330,12)");
cur.execute("INSERT INTO xProduct(p_name,price,quantity)VALUES('Keyboard',250,25)");
cur.execute("INSERT INTO xProduct(p_name,price,quantity)VALUES('Mouse',150,34)");
print("DATA IS INSERTED")
con.commit()
con.close()

DATA IS INSERTED

In [9]:
import sqlite3
conn=sqlite3.connect("amrit.db")
print("Opened database succesfully")

Opened database succesfully

In [11]:
import sqlite3
conn=sqlite3.connect("amrit.db")
print("Opened database successfully")
conn.execute('''CREATE TABLE xCOMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print("Table created successfully")
conn.close()

Opened database successfully
Table created successfully

In [15]:
import sqlite3
conn = sqlite3.connect('amrit.db')
print("Opened database successfully")

conn.execute("INSERT INTO xCOMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO xCOMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO xCOMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO xCOMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
print("Records created successfully")
conn.close()

Opened database successfully
Records created successfully

In [18]:

import sqlite3
conn = sqlite3.connect('amrit.db')
print("Opened database successfully")
cursor = conn.execute("SELECT id, name, address, salary from xCOMPANY")
for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], "\n")
print("Operation done successfully")
conn.close()

Opened database successfully
ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0

ID =  2
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000.0

ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0

Operation done successfully

In [20]:
import sqlite3

conn = sqlite3.connect('amrit.db')
print("Opened database successfully")

conn.execute("UPDATE xCOMPANY set SALARY = 25000.00 where ID = 1")
conn.commit()
print("Total number of rows updated :", conn.total_changes)
cursor = conn.execute("SELECT id, name, address, salary from xCOMPANY")
for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], "\n")

print("Operation done successfully")
conn.close()

Opened database successfully
Total number of rows updated : 1
ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  25000.0

ID =  2
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000.0

ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0

Operation done successfully

In [23]:
import sqlite3

conn = sqlite3.connect('amrit.db')
print("Opened database successfully")

conn.execute("DELETE from xCOMPANY where ID = 2;")
conn.commit()
print("Total number of rows deleted :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from xCOMPANY")
for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], "\n")

print("Operation done successfully")
conn.close()

Opened database successfully
Total number of rows deleted : 1
ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  25000.0

ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0

ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0

Operation done successfully